################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/consoleApp/bin/Debug
/consoleApp/obj/Debug
/consoleApp/obj/Release
